:root {
  --lightgray-0: rgba(255, 255, 255, 1);
  --lightgray-5: rgba(242, 242, 242, 1);
  --lightgray-10: rgba(229, 229, 229, 1);
  --lightgray-20: rgba(204, 204, 204, 1);
  --lightgray-30: rgba(179, 179, 179, 1);
  --lightgray-40: rgba(153, 153, 153, 1);
  --lightgray-50: rgba(128, 128, 128, 1);
  --lightgray-60: rgba(102, 102, 102, 1);
  --lightgray-70: rgba(77, 77, 77, 1);
  --lightgray-80: rgba(51, 51, 51, 1);
  --lightgray-90: rgba(26, 26, 26, 1);
  --lightgray-100: rgba(0, 0, 0, 1);
  --lightsuccess-5: rgba(158, 218, 122, 1);
  --lightsuccess-10: rgba(158, 218, 122, 1);
  --lightsuccess-20: rgba(158, 218, 122, 1);
  --lightsuccess-30: rgba(158, 218, 122, 1);
  --lightsuccess-40: rgba(158, 218, 122, 1);
  --lightsuccess-50: rgba(158, 218, 122, 1);
  --lightsuccess-60: rgba(158, 218, 122, 1);
  --lightsuccess-70: rgba(158, 218, 122, 1);
  --lightsuccess-80: rgba(158, 218, 122, 1);
  --lightsuccess-90: rgba(158, 218, 122, 1);
  --lighterror-5: rgba(245, 109, 126, 1);
  --lighterror-10: rgba(245, 109, 126, 1);
  --lighterror-20: rgba(245, 109, 126, 1);
  --lighterror-30: rgba(245, 109, 126, 1);
  --lighterror-40: rgba(245, 109, 126, 1);
  --lighterror-50: rgba(245, 109, 126, 1);
  --lighterror-60: rgba(245, 109, 126, 1);
  --lighterror-70: rgba(245, 109, 126, 1);
  --lighterror-80: rgba(245, 109, 126, 1);
  --lighterror-90: rgba(245, 109, 126, 1);
  --lighterror-95: rgba(245, 109, 126, 1);
  --lightwarning-5: rgba(241, 243, 128, 1);
  --lightwarning-10: rgba(241, 243, 128, 1);
  --lightwarning-20: rgba(241, 243, 128, 1);
  --lightwarning-30: rgba(241, 243, 128, 1);
  --lightwarning-40: rgba(241, 243, 128, 1);
  --lightwarning-50: rgba(241, 243, 128, 1);
  --lightwarning-60: rgba(241, 243, 128, 1);
  --lightwarning-70: rgba(241, 243, 128, 1);
  --lightwarning-80: rgba(241, 243, 128, 1);
  --lightwarning-90: rgba(241, 243, 128, 1);
  --lightwarning-95: rgba(241, 243, 128, 1);
  --lightinfo-5: rgba(137, 186, 214, 1);
  --lightinfo-10: rgba(137, 186, 214, 1);
  --lightinfo-20: rgba(137, 186, 214, 1);
  --lightinfo-30: rgba(137, 186, 214, 1);
  --lightinfo-40: rgba(137, 186, 214, 1);
  --lightinfo-50: rgba(137, 186, 214, 1);
  --lightinfo-60: rgba(137, 186, 214, 1);
  --lightinfo-70: rgba(137, 186, 214, 1);
  --lightinfo-80: rgba(137, 186, 214, 1);
  --lightinfo-90: rgba(137, 186, 214, 1);
  --lightinfo-95: rgba(137, 186, 214, 1);
  --lightaccent-5: rgba(183, 238, 129, 1);
  --lightaccent-10: rgba(183, 238, 129, 1);
  --lightaccent-20: rgba(183, 238, 129, 1);
  --lightaccent-30: rgba(183, 238, 129, 1);
  --lightaccent-40: rgba(183, 238, 129, 1);
  --lightaccent-50: rgba(183, 238, 129, 1);
  --lightaccent-60: rgba(183, 238, 129, 1);
  --lightaccent-70: rgba(183, 238, 129, 1);
  --lightaccent-80: rgba(183, 238, 129, 1);
  --lightaccent-90: rgba(183, 238, 129, 1);
  --lightaccent-95: rgba(183, 238, 129, 1);
  --lightlink-5: rgba(14, 85, 255, 1);
  --lightlink-10: rgba(14, 85, 255, 1);
  --lightlink-20: rgba(14, 85, 255, 1);
  --lightlink-30: rgba(14, 85, 255, 1);
  --lightlink-40: rgba(14, 85, 255, 1);
  --lightlink-50: rgba(14, 85, 255, 1);
  --lightlink-60: rgba(14, 85, 255, 1);
  --lightlink-70: rgba(14, 85, 255, 1);
  --lightlink-80: rgba(14, 85, 255, 1);
  --lightlink-90: rgba(14, 85, 255, 1);
  --lightlink-95: rgba(14, 85, 255, 1);
  --lightsecondary-5: rgba(42, 132, 198, 1);
  --lightsecondary-10: rgba(42, 132, 198, 1);
  --lightsecondary-20: rgba(42, 132, 198, 1);
  --lightsecondary-30: rgba(42, 132, 198, 1);
  --lightsecondary-40: rgba(42, 132, 198, 1);
  --lightsecondary-50: rgba(42, 132, 198, 1);
  --lightsecondary-60: rgba(42, 132, 198, 1);
  --lightsecondary-70: rgba(42, 132, 198, 1);
  --lightsecondary-80: rgba(42, 132, 198, 1);
  --lightsecondary-90: rgba(42, 132, 198, 1);
  --lightsecondary-95: rgba(42, 132, 198, 1);
  --lightprimary-5: rgba(20, 67, 189, 1);
  --lightprimary-10: rgba(20, 67, 189, 1);
  --lightprimary-20: rgba(20, 67, 189, 1);
  --lightprimary-30: rgba(20, 67, 189, 1);
  --lightprimary-40: rgba(20, 67, 189, 1);
  --lightprimary-50: rgba(20, 67, 189, 1);
  --lightprimary-60: rgba(20, 67, 189, 1);
  --lightprimary-70: rgba(20, 67, 189, 1);
  --lightprimary-80: rgba(20, 67, 189, 1);
  --lightprimary-90: rgba(20, 67, 189, 1);
  --lightprimary-95: rgba(20, 67, 189, 1);
  --darkgray-0: rgba(0, 0, 0, 1);
  --darkgray-5: rgba(26, 26, 26, 1);
  --darkgray-10: rgba(51, 51, 51, 1);
  --darkgray-20: rgba(77, 77, 77, 1);
  --darkgray-30: rgba(102, 102, 102, 1);
  --darkgray-40: rgba(128, 128, 128, 1);
  --darkgray-50: rgba(153, 153, 153, 1);
  --darkgray-60: rgba(179, 179, 179, 1);
  --darkgray-70: rgba(204, 204, 204, 1);
  --darkgray-80: rgba(229, 229, 229, 1);
  --darkgray-90: rgba(242, 242, 242, 1);
  --darkgray-100: rgba(255, 255, 255, 1);
  --darksuccess-95: rgba(77, 177, 105, 1);
  --darksuccess-90: rgba(77, 177, 105, 1);
  --darksuccess-80: rgba(77, 177, 105, 1);
  --darksuccess-70: rgba(77, 177, 105, 1);
  --darksuccess-60: rgba(77, 177, 105, 1);
  --darksuccess-50: rgba(77, 177, 105, 1);
  --darksuccess-40: rgba(77, 177, 105, 1);
  --darksuccess-30: rgba(77, 177, 105, 1);
  --darksuccess-20: rgba(77, 177, 105, 1);
  --darksuccess-10: rgba(77, 177, 105, 1);
  --darksuccess-5: rgba(77, 177, 105, 1);
  --darkinfo-95: rgba(69, 142, 184, 1);
  --darkinfo-90: rgba(69, 142, 184, 1);
  --darkinfo-80: rgba(69, 142, 184, 1);
  --darkinfo-70: rgba(69, 142, 184, 1);
  --darkinfo-60: rgba(69, 142, 184, 1);
  --darkinfo-50: rgba(69, 142, 184, 1);
  --darkinfo-40: rgba(69, 142, 184, 1);
  --darkinfo-30: rgba(69, 142, 184, 1);
  --darkinfo-20: rgba(69, 142, 184, 1);
  --darkinfo-10: rgba(69, 142, 184, 1);
  --darkinfo-5: rgba(69, 142, 184, 1);
  --darkerror-95: rgba(217, 58, 86, 1);
  --darkerror-90: rgba(217, 58, 86, 1);
  --darkerror-80: rgba(217, 58, 86, 1);
  --darkerror-70: rgba(217, 58, 86, 1);
  --darkerror-60: rgba(217, 58, 86, 1);
  --darkerror-50: rgba(217, 58, 86, 1);
  --darkerror-40: rgba(217, 58, 86, 1);
  --darkerror-30: rgba(217, 58, 86, 1);
  --darkerror-20: rgba(217, 58, 86, 1);
  --darkerror-10: rgba(217, 58, 86, 1);
  --darkerror-5: rgba(217, 58, 86, 1);
  --darkaccent-95: rgba(162, 211, 123, 1);
  --darkaccent-90: rgba(162, 211, 123, 1);
  --darkaccent-80: rgba(162, 211, 123, 1);
  --darkaccent-70: rgba(162, 211, 123, 1);
  --darkaccent-60: rgba(162, 211, 123, 1);
  --darkaccent-50: rgba(162, 211, 123, 1);
  --darkaccent-40: rgba(162, 211, 123, 1);
  --darkaccent-30: rgba(162, 211, 123, 1);
  --darkaccent-20: rgba(162, 211, 123, 1);
  --darkaccent-10: rgba(162, 211, 123, 1);
  --darkaccent-5: rgba(162, 211, 123, 1);
  --darkwarning-95: rgba(207, 209, 85, 1);
  --darkwarning-90: rgba(207, 209, 85, 1);
  --darkwarning-80: rgba(207, 209, 85, 1);
  --darkwarning-70: rgba(207, 209, 85, 1);
  --darkwarning-60: rgba(207, 209, 85, 1);
  --darkwarning-50: rgba(207, 209, 85, 1);
  --darkwarning-40: rgba(207, 209, 85, 1);
  --darkwarning-30: rgba(207, 209, 85, 1);
  --darkwarning-20: rgba(207, 209, 85, 1);
  --darkwarning-10: rgba(207, 209, 85, 1);
  --darkwarning-5: rgba(207, 209, 85, 1);
  --darklink-95: rgba(14, 85, 255, 1);
  --darklink-90: rgba(14, 85, 255, 1);
  --darklink-80: rgba(14, 85, 255, 1);
  --darklink-70: rgba(14, 85, 255, 1);
  --darklink-60: rgba(14, 85, 255, 1);
  --darklink-50: rgba(14, 85, 255, 1);
  --darklink-40: rgba(14, 85, 255, 1);
  --darklink-30: rgba(14, 85, 255, 1);
  --darklink-20: rgba(14, 85, 255, 1);
  --darklink-10: rgba(14, 85, 255, 1);
  --darklink-5: rgba(14, 85, 255, 1);
  --darksecondary-95: rgba(62, 75, 190, 1);
  --darksecondary-90: rgba(62, 75, 190, 1);
  --darksecondary-80: rgba(62, 75, 190, 1);
  --darksecondary-70: rgba(62, 75, 190, 1);
  --darksecondary-60: rgba(62, 75, 190, 1);
  --darksecondary-50: rgba(62, 75, 190, 1);
  --darksecondary-40: rgba(62, 75, 190, 1);
  --darksecondary-30: rgba(62, 75, 190, 1);
  --darksecondary-20: rgba(62, 75, 190, 1);
  --darksecondary-10: rgba(62, 75, 190, 1);
  --darksecondary-5: rgba(62, 75, 190, 1);
  --darkprimary-95: rgba(67, 22, 163, 1);
  --darkprimary-90: rgba(67, 22, 163, 1);
  --darkprimary-80: rgba(67, 22, 163, 1);
  --darkprimary-70: rgba(67, 22, 163, 1);
  --darkprimary-60: rgba(67, 22, 163, 1);
  --darkprimary-50: rgba(67, 22, 163, 1);
  --darkprimary-40: rgba(67, 22, 163, 1);
  --darkprimary-30: rgba(67, 22, 163, 1);
  --darkprimary-20: rgba(67, 22, 163, 1);
  --darkprimary-10: rgba(67, 22, 163, 1);
  --darkprimary-5: rgba(67, 22, 163, 1);
  --visual-shadowsecondarylevel-1: rgba(255, 255, 255, 1);
  --buttonprimaryactive: rgba(20, 67, 189, 1);
  --caption-14pt-font-family: "Roboto-Mono", Helvetica;
  --caption-14pt-font-weight: 500;
  --caption-14pt-font-size: 14px;
  --caption-14pt-letter-spacing: 0.15000000596046448px;
  --caption-14pt-line-height: 24px;
  --caption-14pt-font-style: normal;
  --color-scheme-font-family: "Roboto-Medium", Helvetica;
  --color-scheme-font-weight: 500;
  --color-scheme-font-size: 20px;
  --color-scheme-letter-spacing: 0.15000000596046448px;
  --color-scheme-line-height: 24px;
  --color-scheme-font-style: normal;
  --font-SF-pro-OVERLINE-bold-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-OVERLINE-bold-font-weight: 700;
  --font-SF-pro-OVERLINE-bold-font-size: 10px;
  --font-SF-pro-OVERLINE-bold-letter-spacing: 0.15px;
  --font-SF-pro-OVERLINE-bold-line-height: 16px;
  --font-SF-pro-OVERLINE-bold-font-style: normal;
  --font-SF-pro-OVERLINE-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-OVERLINE-semibold-font-weight: 400;
  --font-SF-pro-OVERLINE-semibold-font-size: 10px;
  --font-SF-pro-OVERLINE-semibold-letter-spacing: 0.15px;
  --font-SF-pro-OVERLINE-semibold-line-height: 16px;
  --font-SF-pro-OVERLINE-semibold-font-style: normal;
  --font-SF-pro-OVERLINE-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-OVERLINE-medium-font-weight: 500;
  --font-SF-pro-OVERLINE-medium-font-size: 10px;
  --font-SF-pro-OVERLINE-medium-letter-spacing: 0.15px;
  --font-SF-pro-OVERLINE-medium-line-height: 16px;
  --font-SF-pro-OVERLINE-medium-font-style: normal;
  --font-SF-pro-OVERLINE-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-OVERLINE-regular-font-weight: 400;
  --font-SF-pro-OVERLINE-regular-font-size: 10px;
  --font-SF-pro-OVERLINE-regular-letter-spacing: 0.15px;
  --font-SF-pro-OVERLINE-regular-line-height: 16px;
  --font-SF-pro-OVERLINE-regular-font-style: normal;
  --font-SF-pro-BUTTON-bold-font-family: "SFPro Display-MediumItalic", Helvetica;
  --font-SF-pro-BUTTON-bold-font-weight: 500;
  --font-SF-pro-BUTTON-bold-font-size: 14px;
  --font-SF-pro-BUTTON-bold-letter-spacing: 0.175px;
  --font-SF-pro-BUTTON-bold-line-height: 20px;
  --font-SF-pro-BUTTON-bold-font-style: italic;
  --font-SF-pro-BUTTON-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-BUTTON-semibold-font-weight: 400;
  --font-SF-pro-BUTTON-semibold-font-size: 14px;
  --font-SF-pro-BUTTON-semibold-letter-spacing: 0.175px;
  --font-SF-pro-BUTTON-semibold-line-height: 20px;
  --font-SF-pro-BUTTON-semibold-font-style: normal;
  --font-SF-pro-BUTTON-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-BUTTON-medium-font-weight: 500;
  --font-SF-pro-BUTTON-medium-font-size: 14px;
  --font-SF-pro-BUTTON-medium-letter-spacing: 0.175px;
  --font-SF-pro-BUTTON-medium-line-height: 20px;
  --font-SF-pro-BUTTON-medium-font-style: normal;
  --font-SF-pro-BUTTON-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-BUTTON-regular-font-weight: 400;
  --font-SF-pro-BUTTON-regular-font-size: 14px;
  --font-SF-pro-BUTTON-regular-letter-spacing: 0.175px;
  --font-SF-pro-BUTTON-regular-line-height: 20px;
  --font-SF-pro-BUTTON-regular-font-style: normal;
  --font-SF-pro-caption-bold-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-caption-bold-font-weight: 700;
  --font-SF-pro-caption-bold-font-size: 12px;
  --font-SF-pro-caption-bold-letter-spacing: 0.04800000071525574px;
  --font-SF-pro-caption-bold-line-height: 16px;
  --font-SF-pro-caption-bold-font-style: normal;
  --font-SF-pro-caption-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-caption-semibold-font-weight: 400;
  --font-SF-pro-caption-semibold-font-size: 12px;
  --font-SF-pro-caption-semibold-letter-spacing: 0.04800000071525574px;
  --font-SF-pro-caption-semibold-line-height: 16px;
  --font-SF-pro-caption-semibold-font-style: normal;
  --font-SF-pro-caption-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-caption-medium-font-weight: 500;
  --font-SF-pro-caption-medium-font-size: 12px;
  --font-SF-pro-caption-medium-letter-spacing: 0.04800000071525574px;
  --font-SF-pro-caption-medium-line-height: 16px;
  --font-SF-pro-caption-medium-font-style: normal;
  --font-SF-pro-caption-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-caption-regular-font-weight: 400;
  --font-SF-pro-caption-regular-font-size: 12px;
  --font-SF-pro-caption-regular-letter-spacing: 0.04800000071525574px;
  --font-SF-pro-caption-regular-line-height: 16px;
  --font-SF-pro-caption-regular-font-style: normal;
  --font-SF-pro-body-2-bold-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-body-2-bold-font-weight: 700;
  --font-SF-pro-body-2-bold-font-size: 14px;
  --font-SF-pro-body-2-bold-letter-spacing: 0.035px;
  --font-SF-pro-body-2-bold-line-height: 20px;
  --font-SF-pro-body-2-bold-font-style: normal;
  --font-SF-pro-body-2-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-body-2-semibold-font-weight: 400;
  --font-SF-pro-body-2-semibold-font-size: 14px;
  --font-SF-pro-body-2-semibold-letter-spacing: 0.035px;
  --font-SF-pro-body-2-semibold-line-height: 20px;
  --font-SF-pro-body-2-semibold-font-style: normal;
  --font-SF-pro-body-2-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-body-2-medium-font-weight: 500;
  --font-SF-pro-body-2-medium-font-size: 14px;
  --font-SF-pro-body-2-medium-letter-spacing: 0.035px;
  --font-SF-pro-body-2-medium-line-height: 20px;
  --font-SF-pro-body-2-medium-font-style: normal;
  --font-SF-pro-body-2-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-body-2-regular-font-weight: 400;
  --font-SF-pro-body-2-regular-font-size: 14px;
  --font-SF-pro-body-2-regular-letter-spacing: 0.035px;
  --font-SF-pro-body-2-regular-line-height: 20px;
  --font-SF-pro-body-2-regular-font-style: normal;
  --font-SF-pro-body-1-bold-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-body-1-bold-font-weight: 700;
  --font-SF-pro-body-1-bold-font-size: 16px;
  --font-SF-pro-body-1-bold-letter-spacing: 0.08px;
  --font-SF-pro-body-1-bold-line-height: 24px;
  --font-SF-pro-body-1-bold-font-style: normal;
  --font-SF-pro-body-1-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-body-1-semibold-font-weight: 400;
  --font-SF-pro-body-1-semibold-font-size: 16px;
  --font-SF-pro-body-1-semibold-letter-spacing: 0.08px;
  --font-SF-pro-body-1-semibold-line-height: 24px;
  --font-SF-pro-body-1-semibold-font-style: normal;
  --font-SF-pro-body-1-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-body-1-medium-font-weight: 500;
  --font-SF-pro-body-1-medium-font-size: 16px;
  --font-SF-pro-body-1-medium-letter-spacing: 0.08px;
  --font-SF-pro-body-1-medium-line-height: 24px;
  --font-SF-pro-body-1-medium-font-style: normal;
  --font-SF-pro-body-1-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-body-1-regular-font-weight: 400;
  --font-SF-pro-body-1-regular-font-size: 16px;
  --font-SF-pro-body-1-regular-letter-spacing: 0.08px;
  --font-SF-pro-body-1-regular-line-height: 24px;
  --font-SF-pro-body-1-regular-font-style: normal;
  --font-SF-pro-subtitle-2-bold-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-subtitle-2-bold-font-weight: 700;
  --font-SF-pro-subtitle-2-bold-font-size: 14px;
  --font-SF-pro-subtitle-2-bold-letter-spacing: 0.14px;
  --font-SF-pro-subtitle-2-bold-line-height: 20px;
  --font-SF-pro-subtitle-2-bold-font-style: normal;
  --font-SF-pro-subtitle-2-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-subtitle-2-semibold-font-weight: 400;
  --font-SF-pro-subtitle-2-semibold-font-size: 14px;
  --font-SF-pro-subtitle-2-semibold-letter-spacing: 0.14px;
  --font-SF-pro-subtitle-2-semibold-line-height: 20px;
  --font-SF-pro-subtitle-2-semibold-font-style: normal;
  --font-SF-pro-subtitle-2-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-subtitle-2-medium-font-weight: 500;
  --font-SF-pro-subtitle-2-medium-font-size: 14px;
  --font-SF-pro-subtitle-2-medium-letter-spacing: 0.14px;
  --font-SF-pro-subtitle-2-medium-line-height: 20px;
  --font-SF-pro-subtitle-2-medium-font-style: normal;
  --font-SF-pro-subtitle-2-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-subtitle-2-regular-font-weight: 400;
  --font-SF-pro-subtitle-2-regular-font-size: 14px;
  --font-SF-pro-subtitle-2-regular-letter-spacing: 0.14px;
  --font-SF-pro-subtitle-2-regular-line-height: 20px;
  --font-SF-pro-subtitle-2-regular-font-style: normal;
  --font-SF-pro-subtitle-1-bold-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-subtitle-1-bold-font-weight: 700;
  --font-SF-pro-subtitle-1-bold-font-size: 16px;
  --font-SF-pro-subtitle-1-bold-letter-spacing: 0.2px;
  --font-SF-pro-subtitle-1-bold-line-height: 24px;
  --font-SF-pro-subtitle-1-bold-font-style: normal;
  --font-SF-pro-subtitle-1-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-subtitle-1-semibold-font-weight: 400;
  --font-SF-pro-subtitle-1-semibold-font-size: 16px;
  --font-SF-pro-subtitle-1-semibold-letter-spacing: 0.2px;
  --font-SF-pro-subtitle-1-semibold-line-height: 24px;
  --font-SF-pro-subtitle-1-semibold-font-style: normal;
  --font-SF-pro-subtitle-1-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-subtitle-1-medium-font-weight: 500;
  --font-SF-pro-subtitle-1-medium-font-size: 16px;
  --font-SF-pro-subtitle-1-medium-letter-spacing: 0.2px;
  --font-SF-pro-subtitle-1-medium-line-height: 24px;
  --font-SF-pro-subtitle-1-medium-font-style: normal;
  --font-SF-pro-subtitle-1-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-subtitle-1-regular-font-weight: 400;
  --font-SF-pro-subtitle-1-regular-font-size: 16px;
  --font-SF-pro-subtitle-1-regular-letter-spacing: 0.2px;
  --font-SF-pro-subtitle-1-regular-line-height: 24px;
  --font-SF-pro-subtitle-1-regular-font-style: normal;
  --font-SF-pro-h6-bold-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-h6-bold-font-weight: 700;
  --font-SF-pro-h6-bold-font-size: 20px;
  --font-SF-pro-h6-bold-letter-spacing: 0.030000001192092896px;
  --font-SF-pro-h6-bold-line-height: 28px;
  --font-SF-pro-h6-bold-font-style: normal;
  --font-SF-pro-h6-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-h6-semibold-font-weight: 400;
  --font-SF-pro-h6-semibold-font-size: 20px;
  --font-SF-pro-h6-semibold-letter-spacing: 0.030000001192092896px;
  --font-SF-pro-h6-semibold-line-height: 28px;
  --font-SF-pro-h6-semibold-font-style: normal;
  --font-SF-pro-h6-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-h6-medium-font-weight: 500;
  --font-SF-pro-h6-medium-font-size: 20px;
  --font-SF-pro-h6-medium-letter-spacing: 0.030000001192092896px;
  --font-SF-pro-h6-medium-line-height: 28px;
  --font-SF-pro-h6-medium-font-style: normal;
  --font-SF-pro-h6-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-h6-regular-font-weight: 400;
  --font-SF-pro-h6-regular-font-size: 20px;
  --font-SF-pro-h6-regular-letter-spacing: 0.030000001192092896px;
  --font-SF-pro-h6-regular-line-height: 28px;
  --font-SF-pro-h6-regular-font-style: normal;
  --font-SF-pro-h5-bold-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-h5-bold-font-weight: 700;
  --font-SF-pro-h5-bold-font-size: 26px;
  --font-SF-pro-h5-bold-letter-spacing: 0px;
  --font-SF-pro-h5-bold-line-height: 32px;
  --font-SF-pro-h5-bold-font-style: normal;
  --font-SF-pro-h5-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-h5-semibold-font-weight: 400;
  --font-SF-pro-h5-semibold-font-size: 26px;
  --font-SF-pro-h5-semibold-letter-spacing: 0px;
  --font-SF-pro-h5-semibold-line-height: 32px;
  --font-SF-pro-h5-semibold-font-style: normal;
  --font-SF-pro-h5-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-h5-medium-font-weight: 500;
  --font-SF-pro-h5-medium-font-size: 26px;
  --font-SF-pro-h5-medium-letter-spacing: 0px;
  --font-SF-pro-h5-medium-line-height: 32px;
  --font-SF-pro-h5-medium-font-style: normal;
  --font-SF-pro-h5-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-h5-regular-font-weight: 400;
  --font-SF-pro-h5-regular-font-size: 26px;
  --font-SF-pro-h5-regular-letter-spacing: 0px;
  --font-SF-pro-h5-regular-line-height: 32px;
  --font-SF-pro-h5-regular-font-style: normal;
  --font-SF-pro-h4-bold-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-h4-bold-font-weight: 700;
  --font-SF-pro-h4-bold-font-size: 34px;
  --font-SF-pro-h4-bold-letter-spacing: 0.085px;
  --font-SF-pro-h4-bold-line-height: 44px;
  --font-SF-pro-h4-bold-font-style: normal;
  --font-SF-pro-h4-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-h4-semibold-font-weight: 400;
  --font-SF-pro-h4-semibold-font-size: 34px;
  --font-SF-pro-h4-semibold-letter-spacing: 0.085px;
  --font-SF-pro-h4-semibold-line-height: 44px;
  --font-SF-pro-h4-semibold-font-style: normal;
  --font-SF-pro-h4-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-h4-medium-font-weight: 500;
  --font-SF-pro-h4-medium-font-size: 34px;
  --font-SF-pro-h4-medium-letter-spacing: 0.085px;
  --font-SF-pro-h4-medium-line-height: 44px;
  --font-SF-pro-h4-medium-font-style: normal;
  --font-SF-pro-h4-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-h4-regular-font-weight: 400;
  --font-SF-pro-h4-regular-font-size: 34px;
  --font-SF-pro-h4-regular-letter-spacing: 0.085px;
  --font-SF-pro-h4-regular-line-height: 44px;
  --font-SF-pro-h4-regular-font-style: normal;
  --font-SF-pro-h3-bold-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-h3-bold-font-weight: 700;
  --font-SF-pro-h3-bold-font-size: 48px;
  --font-SF-pro-h3-bold-letter-spacing: 0px;
  --font-SF-pro-h3-bold-line-height: 56px;
  --font-SF-pro-h3-bold-font-style: normal;
  --font-SF-pro-h3-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-h3-semibold-font-weight: 400;
  --font-SF-pro-h3-semibold-font-size: 48px;
  --font-SF-pro-h3-semibold-letter-spacing: 0px;
  --font-SF-pro-h3-semibold-line-height: 56px;
  --font-SF-pro-h3-semibold-font-style: normal;
  --font-SF-pro-h3-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-h3-medium-font-weight: 500;
  --font-SF-pro-h3-medium-font-size: 48px;
  --font-SF-pro-h3-medium-letter-spacing: 0px;
  --font-SF-pro-h3-medium-line-height: 56px;
  --font-SF-pro-h3-medium-font-style: normal;
  --font-SF-pro-h3-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-h3-regular-font-weight: 400;
  --font-SF-pro-h3-regular-font-size: 48px;
  --font-SF-pro-h3-regular-letter-spacing: 0px;
  --font-SF-pro-h3-regular-line-height: 56px;
  --font-SF-pro-h3-regular-font-style: normal;
  --font-SF-pro-h2-bold-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-h2-bold-font-weight: 700;
  --font-SF-pro-h2-bold-font-size: 60px;
  --font-SF-pro-h2-bold-letter-spacing: -0.3px;
  --font-SF-pro-h2-bold-line-height: 72px;
  --font-SF-pro-h2-bold-font-style: normal;
  --font-SF-pro-h2-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-h2-semibold-font-weight: 400;
  --font-SF-pro-h2-semibold-font-size: 60px;
  --font-SF-pro-h2-semibold-letter-spacing: -0.3px;
  --font-SF-pro-h2-semibold-line-height: 72px;
  --font-SF-pro-h2-semibold-font-style: normal;
  --font-SF-pro-h2-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-h2-medium-font-weight: 500;
  --font-SF-pro-h2-medium-font-size: 60px;
  --font-SF-pro-h2-medium-letter-spacing: -0.3px;
  --font-SF-pro-h2-medium-line-height: 72px;
  --font-SF-pro-h2-medium-font-style: normal;
  --font-SF-pro-h2-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-h2-regular-font-weight: 400;
  --font-SF-pro-h2-regular-font-size: 60px;
  --font-SF-pro-h2-regular-letter-spacing: -0.3px;
  --font-SF-pro-h2-regular-line-height: 72px;
  --font-SF-pro-h2-regular-font-style: normal;
  --font-SF-pro-h1-bold-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-h1-bold-font-weight: 700;
  --font-SF-pro-h1-bold-font-size: 96px;
  --font-SF-pro-h1-bold-letter-spacing: -1.44px;
  --font-SF-pro-h1-bold-line-height: 104px;
  --font-SF-pro-h1-bold-font-style: normal;
  --font-SF-pro-h1-semibold-font-family: "SFPro Display-Semibold", Helvetica;
  --font-SF-pro-h1-semibold-font-weight: 400;
  --font-SF-pro-h1-semibold-font-size: 96px;
  --font-SF-pro-h1-semibold-letter-spacing: -1.44px;
  --font-SF-pro-h1-semibold-line-height: 104px;
  --font-SF-pro-h1-semibold-font-style: normal;
  --font-SF-pro-h1-medium-font-family: "SFPro Display-Medium", Helvetica;
  --font-SF-pro-h1-medium-font-weight: 500;
  --font-SF-pro-h1-medium-font-size: 96px;
  --font-SF-pro-h1-medium-letter-spacing: -1.44px;
  --font-SF-pro-h1-medium-line-height: 104px;
  --font-SF-pro-h1-medium-font-style: normal;
  --font-SF-pro-h1-regular-font-family: "Roboto-Mono", Helvetica;
  --font-SF-pro-h1-regular-font-weight: 400;
  --font-SF-pro-h1-regular-font-size: 96px;
  --font-SF-pro-h1-regular-letter-spacing: -1.44px;
  --font-SF-pro-h1-regular-line-height: 104px;
  --font-SF-pro-h1-regular-font-style: normal;
  --font-gilroy-OVERLINE-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-OVERLINE-bold-font-weight: 700;
  --font-gilroy-OVERLINE-bold-font-size: 10px;
  --font-gilroy-OVERLINE-bold-letter-spacing: 0.15px;
  --font-gilroy-OVERLINE-bold-line-height: 16px;
  --font-gilroy-OVERLINE-bold-font-style: normal;
  --font-gilroy-OVERLINE-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-OVERLINE-semibold-font-weight: 600;
  --font-gilroy-OVERLINE-semibold-font-size: 10px;
  --font-gilroy-OVERLINE-semibold-letter-spacing: 0.15px;
  --font-gilroy-OVERLINE-semibold-line-height: 16px;
  --font-gilroy-OVERLINE-semibold-font-style: normal;
  --font-gilroy-OVERLINE-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-OVERLINE-medium-font-weight: 500;
  --font-gilroy-OVERLINE-medium-font-size: 10px;
  --font-gilroy-OVERLINE-medium-letter-spacing: 0.15px;
  --font-gilroy-OVERLINE-medium-line-height: 16px;
  --font-gilroy-OVERLINE-medium-font-style: normal;
  --font-gilroy-OVERLINE-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-OVERLINE-regular-font-weight: 400;
  --font-gilroy-OVERLINE-regular-font-size: 10px;
  --font-gilroy-OVERLINE-regular-letter-spacing: 0.15px;
  --font-gilroy-OVERLINE-regular-line-height: 16px;
  --font-gilroy-OVERLINE-regular-font-style: normal;
  --font-gilroy-BUTTON-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-BUTTON-bold-font-weight: 700;
  --font-gilroy-BUTTON-bold-font-size: 14px;
  --font-gilroy-BUTTON-bold-letter-spacing: 0.175px;
  --font-gilroy-BUTTON-bold-line-height: 20px;
  --font-gilroy-BUTTON-bold-font-style: normal;
  --font-gilroy-BUTTON-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-BUTTON-semibold-font-weight: 600;
  --font-gilroy-BUTTON-semibold-font-size: 14px;
  --font-gilroy-BUTTON-semibold-letter-spacing: 0.175px;
  --font-gilroy-BUTTON-semibold-line-height: 20px;
  --font-gilroy-BUTTON-semibold-font-style: normal;
  --font-gilroy-BUTTON-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-BUTTON-medium-font-weight: 500;
  --font-gilroy-BUTTON-medium-font-size: 14px;
  --font-gilroy-BUTTON-medium-letter-spacing: 0.175px;
  --font-gilroy-BUTTON-medium-line-height: 20px;
  --font-gilroy-BUTTON-medium-font-style: normal;
  --font-gilroy-BUTTON-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-BUTTON-regular-font-weight: 400;
  --font-gilroy-BUTTON-regular-font-size: 14px;
  --font-gilroy-BUTTON-regular-letter-spacing: 0.175px;
  --font-gilroy-BUTTON-regular-line-height: 20px;
  --font-gilroy-BUTTON-regular-font-style: normal;
  --font-gilroy-caption-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-caption-bold-font-weight: 700;
  --font-gilroy-caption-bold-font-size: 12px;
  --font-gilroy-caption-bold-letter-spacing: 0.04800000071525574px;
  --font-gilroy-caption-bold-line-height: 16px;
  --font-gilroy-caption-bold-font-style: normal;
  --font-gilroy-caption-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-caption-semibold-font-weight: 600;
  --font-gilroy-caption-semibold-font-size: 12px;
  --font-gilroy-caption-semibold-letter-spacing: 0.04800000071525574px;
  --font-gilroy-caption-semibold-line-height: 16px;
  --font-gilroy-caption-semibold-font-style: normal;
  --font-gilroy-caption-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-caption-medium-font-weight: 500;
  --font-gilroy-caption-medium-font-size: 12px;
  --font-gilroy-caption-medium-letter-spacing: 0.04800000071525574px;
  --font-gilroy-caption-medium-line-height: 16px;
  --font-gilroy-caption-medium-font-style: normal;
  --font-gilroy-caption-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-caption-regular-font-weight: 400;
  --font-gilroy-caption-regular-font-size: 12px;
  --font-gilroy-caption-regular-letter-spacing: 0.04800000071525574px;
  --font-gilroy-caption-regular-line-height: 16px;
  --font-gilroy-caption-regular-font-style: normal;
  --font-gilroy-body-2-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-body-2-bold-font-weight: 700;
  --font-gilroy-body-2-bold-font-size: 14px;
  --font-gilroy-body-2-bold-letter-spacing: 0.035px;
  --font-gilroy-body-2-bold-line-height: 20px;
  --font-gilroy-body-2-bold-font-style: normal;
  --font-gilroy-body-2-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-body-2-semibold-font-weight: 600;
  --font-gilroy-body-2-semibold-font-size: 14px;
  --font-gilroy-body-2-semibold-letter-spacing: 0.035px;
  --font-gilroy-body-2-semibold-line-height: 20px;
  --font-gilroy-body-2-semibold-font-style: normal;
  --font-gilroy-body-2-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-body-2-medium-font-weight: 500;
  --font-gilroy-body-2-medium-font-size: 14px;
  --font-gilroy-body-2-medium-letter-spacing: 0.035px;
  --font-gilroy-body-2-medium-line-height: 20px;
  --font-gilroy-body-2-medium-font-style: normal;
  --font-gilroy-body-2-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-body-2-regular-font-weight: 400;
  --font-gilroy-body-2-regular-font-size: 14px;
  --font-gilroy-body-2-regular-letter-spacing: 0.035px;
  --font-gilroy-body-2-regular-line-height: 20px;
  --font-gilroy-body-2-regular-font-style: normal;
  --font-gilroy-body-1-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-body-1-bold-font-weight: 700;
  --font-gilroy-body-1-bold-font-size: 16px;
  --font-gilroy-body-1-bold-letter-spacing: 0.08px;
  --font-gilroy-body-1-bold-line-height: 24px;
  --font-gilroy-body-1-bold-font-style: normal;
  --font-gilroy-body-1-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-body-1-semibold-font-weight: 600;
  --font-gilroy-body-1-semibold-font-size: 16px;
  --font-gilroy-body-1-semibold-letter-spacing: 0.08px;
  --font-gilroy-body-1-semibold-line-height: 24px;
  --font-gilroy-body-1-semibold-font-style: normal;
  --font-gilroy-body-1-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-body-1-medium-font-weight: 500;
  --font-gilroy-body-1-medium-font-size: 16px;
  --font-gilroy-body-1-medium-letter-spacing: 0.08px;
  --font-gilroy-body-1-medium-line-height: 24px;
  --font-gilroy-body-1-medium-font-style: normal;
  --font-gilroy-body-1-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-body-1-regular-font-weight: 400;
  --font-gilroy-body-1-regular-font-size: 16px;
  --font-gilroy-body-1-regular-letter-spacing: 0.08px;
  --font-gilroy-body-1-regular-line-height: 24px;
  --font-gilroy-body-1-regular-font-style: normal;
  --font-gilroy-subtitle-2-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-subtitle-2-bold-font-weight: 700;
  --font-gilroy-subtitle-2-bold-font-size: 14px;
  --font-gilroy-subtitle-2-bold-letter-spacing: 0.14px;
  --font-gilroy-subtitle-2-bold-line-height: 20px;
  --font-gilroy-subtitle-2-bold-font-style: normal;
  --font-gilroy-subtitle-2-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-subtitle-2-semibold-font-weight: 600;
  --font-gilroy-subtitle-2-semibold-font-size: 14px;
  --font-gilroy-subtitle-2-semibold-letter-spacing: 0.14px;
  --font-gilroy-subtitle-2-semibold-line-height: 20px;
  --font-gilroy-subtitle-2-semibold-font-style: normal;
  --font-gilroy-subtitle-2-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-subtitle-2-medium-font-weight: 500;
  --font-gilroy-subtitle-2-medium-font-size: 14px;
  --font-gilroy-subtitle-2-medium-letter-spacing: 0.14px;
  --font-gilroy-subtitle-2-medium-line-height: 20px;
  --font-gilroy-subtitle-2-medium-font-style: normal;
  --font-gilroy-subtitle-2-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-subtitle-2-regular-font-weight: 400;
  --font-gilroy-subtitle-2-regular-font-size: 14px;
  --font-gilroy-subtitle-2-regular-letter-spacing: 0.14px;
  --font-gilroy-subtitle-2-regular-line-height: 20px;
  --font-gilroy-subtitle-2-regular-font-style: normal;
  --font-gilroy-subtitle-1-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-subtitle-1-bold-font-weight: 700;
  --font-gilroy-subtitle-1-bold-font-size: 16px;
  --font-gilroy-subtitle-1-bold-letter-spacing: 0.2px;
  --font-gilroy-subtitle-1-bold-line-height: 24px;
  --font-gilroy-subtitle-1-bold-font-style: normal;
  --font-gilroy-subtitle-1-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-subtitle-1-semibold-font-weight: 600;
  --font-gilroy-subtitle-1-semibold-font-size: 16px;
  --font-gilroy-subtitle-1-semibold-letter-spacing: 0.2px;
  --font-gilroy-subtitle-1-semibold-line-height: 24px;
  --font-gilroy-subtitle-1-semibold-font-style: normal;
  --font-gilroy-subtitle-1-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-subtitle-1-medium-font-weight: 500;
  --font-gilroy-subtitle-1-medium-font-size: 16px;
  --font-gilroy-subtitle-1-medium-letter-spacing: 0.2px;
  --font-gilroy-subtitle-1-medium-line-height: 24px;
  --font-gilroy-subtitle-1-medium-font-style: normal;
  --font-gilroy-subtitle-1-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-subtitle-1-regular-font-weight: 400;
  --font-gilroy-subtitle-1-regular-font-size: 16px;
  --font-gilroy-subtitle-1-regular-letter-spacing: 0.2px;
  --font-gilroy-subtitle-1-regular-line-height: 24px;
  --font-gilroy-subtitle-1-regular-font-style: normal;
  --font-gilroy-h6-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-h6-bold-font-weight: 700;
  --font-gilroy-h6-bold-font-size: 20px;
  --font-gilroy-h6-bold-letter-spacing: 0.030000001192092896px;
  --font-gilroy-h6-bold-line-height: 28px;
  --font-gilroy-h6-bold-font-style: normal;
  --font-gilroy-h6-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-h6-semibold-font-weight: 600;
  --font-gilroy-h6-semibold-font-size: 20px;
  --font-gilroy-h6-semibold-letter-spacing: 0.030000001192092896px;
  --font-gilroy-h6-semibold-line-height: 28px;
  --font-gilroy-h6-semibold-font-style: normal;
  --font-gilroy-h6-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-h6-medium-font-weight: 500;
  --font-gilroy-h6-medium-font-size: 20px;
  --font-gilroy-h6-medium-letter-spacing: 0.030000001192092896px;
  --font-gilroy-h6-medium-line-height: 28px;
  --font-gilroy-h6-medium-font-style: normal;
  --font-gilroy-h6-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-h6-regular-font-weight: 400;
  --font-gilroy-h6-regular-font-size: 20px;
  --font-gilroy-h6-regular-letter-spacing: 0.030000001192092896px;
  --font-gilroy-h6-regular-line-height: 28px;
  --font-gilroy-h6-regular-font-style: normal;
  --font-gilroy-h5-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-h5-bold-font-weight: 700;
  --font-gilroy-h5-bold-font-size: 26px;
  --font-gilroy-h5-bold-letter-spacing: 0px;
  --font-gilroy-h5-bold-line-height: 32px;
  --font-gilroy-h5-bold-font-style: normal;
  --font-gilroy-h5-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-h5-semibold-font-weight: 600;
  --font-gilroy-h5-semibold-font-size: 26px;
  --font-gilroy-h5-semibold-letter-spacing: 0px;
  --font-gilroy-h5-semibold-line-height: 32px;
  --font-gilroy-h5-semibold-font-style: normal;
  --font-gilroy-h5-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-h5-medium-font-weight: 500;
  --font-gilroy-h5-medium-font-size: 26px;
  --font-gilroy-h5-medium-letter-spacing: 0px;
  --font-gilroy-h5-medium-line-height: 32px;
  --font-gilroy-h5-medium-font-style: normal;
  --font-gilroy-h5-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-h5-regular-font-weight: 400;
  --font-gilroy-h5-regular-font-size: 26px;
  --font-gilroy-h5-regular-letter-spacing: 0px;
  --font-gilroy-h5-regular-line-height: 32px;
  --font-gilroy-h5-regular-font-style: normal;
  --font-gilroy-h4-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-h4-bold-font-weight: 700;
  --font-gilroy-h4-bold-font-size: 34px;
  --font-gilroy-h4-bold-letter-spacing: 0.085px;
  --font-gilroy-h4-bold-line-height: 44px;
  --font-gilroy-h4-bold-font-style: normal;
  --font-gilroy-h4-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-h4-semibold-font-weight: 600;
  --font-gilroy-h4-semibold-font-size: 34px;
  --font-gilroy-h4-semibold-letter-spacing: 0.085px;
  --font-gilroy-h4-semibold-line-height: 44px;
  --font-gilroy-h4-semibold-font-style: normal;
  --font-gilroy-h4-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-h4-medium-font-weight: 500;
  --font-gilroy-h4-medium-font-size: 34px;
  --font-gilroy-h4-medium-letter-spacing: 0.085px;
  --font-gilroy-h4-medium-line-height: 44px;
  --font-gilroy-h4-medium-font-style: normal;
  --font-gilroy-h4-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-h4-regular-font-weight: 400;
  --font-gilroy-h4-regular-font-size: 34px;
  --font-gilroy-h4-regular-letter-spacing: 0.085px;
  --font-gilroy-h4-regular-line-height: 44px;
  --font-gilroy-h4-regular-font-style: normal;
  --font-gilroy-h3-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-h3-bold-font-weight: 700;
  --font-gilroy-h3-bold-font-size: 48px;
  --font-gilroy-h3-bold-letter-spacing: 0px;
  --font-gilroy-h3-bold-line-height: 56px;
  --font-gilroy-h3-bold-font-style: normal;
  --font-gilroy-h3-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-h3-semibold-font-weight: 600;
  --font-gilroy-h3-semibold-font-size: 48px;
  --font-gilroy-h3-semibold-letter-spacing: 0px;
  --font-gilroy-h3-semibold-line-height: 56px;
  --font-gilroy-h3-semibold-font-style: normal;
  --font-gilroy-h3-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-h3-medium-font-weight: 500;
  --font-gilroy-h3-medium-font-size: 48px;
  --font-gilroy-h3-medium-letter-spacing: 0px;
  --font-gilroy-h3-medium-line-height: 56px;
  --font-gilroy-h3-medium-font-style: normal;
  --font-gilroy-h3-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-h3-regular-font-weight: 400;
  --font-gilroy-h3-regular-font-size: 48px;
  --font-gilroy-h3-regular-letter-spacing: 0px;
  --font-gilroy-h3-regular-line-height: 56px;
  --font-gilroy-h3-regular-font-style: normal;
  --font-gilroy-h2-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-h2-bold-font-weight: 700;
  --font-gilroy-h2-bold-font-size: 60px;
  --font-gilroy-h2-bold-letter-spacing: -0.3px;
  --font-gilroy-h2-bold-line-height: 72px;
  --font-gilroy-h2-bold-font-style: normal;
  --font-gilroy-h2-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-h2-semibold-font-weight: 600;
  --font-gilroy-h2-semibold-font-size: 60px;
  --font-gilroy-h2-semibold-letter-spacing: -0.3px;
  --font-gilroy-h2-semibold-line-height: 72px;
  --font-gilroy-h2-semibold-font-style: normal;
  --font-gilroy-h2-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-h2-medium-font-weight: 500;
  --font-gilroy-h2-medium-font-size: 60px;
  --font-gilroy-h2-medium-letter-spacing: -0.3px;
  --font-gilroy-h2-medium-line-height: 72px;
  --font-gilroy-h2-medium-font-style: normal;
  --font-gilroy-h2-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-h2-regular-font-weight: 400;
  --font-gilroy-h2-regular-font-size: 60px;
  --font-gilroy-h2-regular-letter-spacing: -0.3px;
  --font-gilroy-h2-regular-line-height: 72px;
  --font-gilroy-h2-regular-font-style: normal;
  --font-gilroy-h1-bold-font-family: "SVN-Gilroy-Bold", Helvetica;
  --font-gilroy-h1-bold-font-weight: 700;
  --font-gilroy-h1-bold-font-size: 96px;
  --font-gilroy-h1-bold-letter-spacing: -1.44px;
  --font-gilroy-h1-bold-line-height: 104px;
  --font-gilroy-h1-bold-font-style: normal;
  --font-gilroy-h1-semibold-font-family: "SVN-Gilroy-SemiBold", Helvetica;
  --font-gilroy-h1-semibold-font-weight: 600;
  --font-gilroy-h1-semibold-font-size: 96px;
  --font-gilroy-h1-semibold-letter-spacing: -1.44px;
  --font-gilroy-h1-semibold-line-height: 104px;
  --font-gilroy-h1-semibold-font-style: normal;
  --font-gilroy-h1-medium-font-family: "SVN-Gilroy-Medium", Helvetica;
  --font-gilroy-h1-medium-font-weight: 500;
  --font-gilroy-h1-medium-font-size: 96px;
  --font-gilroy-h1-medium-letter-spacing: -1.44px;
  --font-gilroy-h1-medium-line-height: 104px;
  --font-gilroy-h1-medium-font-style: normal;
  --font-gilroy-h1-regular-font-family: "SVN-Gilroy-Regular", Helvetica;
  --font-gilroy-h1-regular-font-weight: 400;
  --font-gilroy-h1-regular-font-size: 96px;
  --font-gilroy-h1-regular-letter-spacing: -1.44px;
  --font-gilroy-h1-regular-line-height: 104px;
  --font-gilroy-h1-regular-font-style: normal;
  --shadow-elevation-24-px: 0px 11px 15px 0px rgba(0, 0, 0, 0.2), 0px 9px 46px 0px rgba(0, 0, 0, 0.12),
    0px 24px 38px 0px rgba(0, 0, 0, 0.14);
  --shadow-elevation-16-px: 0px 8px 10px 0px rgba(0, 0, 0, 0.2), 0px 6px 30px 0px rgba(0, 0, 0, 0.12),
    0px 16px 24px 0px rgba(0, 0, 0, 0.14);
  --shadow-elevation-12-px: 0px 7px 8px 0px rgba(0, 0, 0, 0.2), 0px 5px 22px 0px rgba(0, 0, 0, 0.12),
    0px 12px 17px 0px rgba(0, 0, 0, 0.14);
  --shadow-elevation-08-px: 0px 5px 5px 0px rgba(0, 0, 0, 0.2), 0px 3px 14px 0px rgba(0, 0, 0, 0.12),
    0px 8px 10px 0px rgba(0, 0, 0, 0.14);
  --shadow-elevation-06-px: 0px 3px 5px 0px rgba(0, 0, 0, 0.2), 0px 1px 18px 0px rgba(0, 0, 0, 0.12),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14);
  --shadow-elevation-04-px: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  --shadow-elevation-03-px: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 3px 0px rgba(0, 0, 0, 0.12),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14);
  --shadow-elevation-02-px: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 3px 1px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14);
  --shadow-elevation-01-px: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 2px 1px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  --line-bottom: ;
  --line-right: ;
  --line-top: ;
  --line-left: ;
  --visual-shadow-primary-level-1: 0px 6px 8px 0px rgba(10, 33, 95, 0.12), 0px 8px 24px 0px rgba(10, 33, 95, 0.08),
    0px 16px 36px 0px rgba(10, 33, 95, 0.04), 0px 40px 70px 0px rgba(10, 33, 95, 0.04),
    0px 2px 4px 0px rgba(137, 161, 222, 0.4);
  --visual-shadow-primary-level-1-inverse: ;
  --visual-shadow-secondary-level-1: 0px 6px 8px 0px rgba(180, 212, 235, 0.12),
    0px 8px 24px 0px rgba(180, 212, 235, 0.08), 0px 16px 36px 0px rgba(180, 212, 235, 0.04),
    0px 40px 70px 0px rgba(180, 212, 235, 0.04), 0px 2px 4px 0px rgba(223, 237, 246, 0.4);
  --visual-shadow-secondary-level-1-inverse: ;
}
